In [5]:
import pandas as pd
from pathlib import Path

In [6]:
# 直接改这里
CSV_DIR = Path(r"../csv_data")
OUTPUT_FILE = "merged.csv"

dfs = []
for csv_file in CSV_DIR.glob("*.csv"):
    df = pd.read_csv(csv_file)
    dfs.append(df)

merged_df = pd.concat(dfs, ignore_index=True)
merged_df.to_csv(OUTPUT_FILE, index=False, encoding="utf-8-sig")

merged_df.shape # (108090, 4)

(108090, 4)

In [7]:
merged_df.head()

,title,url,time,source
0,上海劳模学院迎来首届毕业生，52名劳模获得高等教育文凭,https://www.thepaper.cn/newsDetail_forward_309...,2025-06-11 14:07:10,澎湃新闻
1,从黑科技、产品促销到陪诊服务，上海老博会如何越来越有逛头,https://www.thepaper.cn/newsDetail_forward_309...,2025-06-11 14:05:15,澎湃新闻
2,上海静安推出34项举措促进民营经济，8个重点民企项目签约,https://www.thepaper.cn/newsDetail_forward_309...,2025-06-11 14:02:16,澎湃新闻
3,冠军姑娘们回来了！她们是上海体育的骄傲和未来,https://www.thepaper.cn/newsDetail_forward_309...,2025-06-11 13:50:34,澎湃新闻
4,以场景焕新引领文旅商体展融合 上海最佳旅游新场景在浦东揭晓,https://www.thepaper.cn/newsDetail_forward_309...,2025-06-11 13:07:52,东方财经浦东频道

In [8]:
import pandas as pd
from pathlib import Path

CSV_DIR = Path(r"../csv_data")
OUTPUT_FILE = "merged_unique.csv"

dfs = []
for csv_file in CSV_DIR.glob("*.csv"):
    df = pd.read_csv(csv_file)
    dfs.append(df)

merged_df = pd.concat(dfs, ignore_index=True)

# 根据 title 去重，只保留第一条出现的新闻
merged_unique_df = merged_df.drop_duplicates(subset=["title"], keep="first")

merged_unique_df.to_csv(OUTPUT_FILE, index=False, encoding="utf-8-sig")


merged_unique_df.shape # (38359, 4)

(38359, 4)